.menu{
  flex-flow: column nowrap;
  background-color: #919888;
  position: absolute; 
  top: 10px;
  right: 20px;
  height: 21rem; 
  width: 18rem;
  padding-top: 2.5rem; 
  display: flex;
  border-radius: 20px;
  z-index: 2;
}
.close{display: none;}
.navpages{
  color: #201f1f;
  padding: 0.5rem;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: none;
}
.navpages:hover{
  text-decoration: underline;
}
.light{
  color: #efefef;
}
.hamburger-react{
  z-index: 3;
}

