@import 'react-slideshow-image/dist/styles.css';

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  min-height: 350px;
  max-height: 600px;
  background-position: center center;
}

.link-container {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
.nav {
  margin: 10px;
}

@media screen and (max-width: 450px) {
  .nav {
    margin: 3px;
  }
}
