.logo-switcher-container{
    display: flex;
    align-items: center;
  }
#earth-logo{
    height: 50px;
  }
.nav-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
  }
.nav-pages {
    display: inline-block;
    font-weight: bold;
    margin-right: 0.5rem;
    font-weight: 400;
    font-size: 20px;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    color: #acafb3;
  }
.nav-pages:hover{
    text-decoration: underline;
    color: #eaf3ff;
    transition: text-decoration 1.2s, color 1.2s;
  }