@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #201f1f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*light mode - classNames*/
.Container{
  height: 100%;
  background-color: #201f1f;
}
.lightmode{
  background-color: #eaf3ff;
}
.lightmode h1{
  color: #201f1f;
}
.lightmode p{
  color: #201f1f;
}





